* {
  font-family: "Fira Mono", monospace;
}

main {
  margin: 40px auto;
  padding: 0 10px;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
}

h1, h2, h3 {
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #5e81ac;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}
